<div class="text-center mb-6 md:mb-8">
    <h1 class="text-2xl md:text-3xl font-bold text-gray-800">Reset Password</h1>
    <p class="text-sm md:text-base text-gray-600 mt-2">
        Enter your new password below
    </p>
</div>

<div class="bg-blue-50 p-4 sm:p-6 rounded-lg border border-blue-100">
    <form nz-form [formGroup]="resetPasswordForm" class="space-y-4 md:space-y-5" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Password must be at least 8 characters!">
                <nz-input-group nzPrefixIcon="lock" nzSize="large" [nzSuffix]="passwordSuffixTemplate" class="rounded-lg">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="New Password" [(ngModel)]="password" class="py-2 md:py-2.5"/>
                </nz-input-group>
                <ng-template #passwordSuffixTemplate>
                    <span
                      nz-icon
                      class="ant-input-password-icon cursor-pointer text-gray-500 hover:text-gray-700"
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Passwords do not match!">
                <nz-input-group nzPrefixIcon="lock" nzSize="large" [nzSuffix]="confirmPasswordSuffixTemplate" class="rounded-lg">
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" class="py-2 md:py-2.5"/>
                </nz-input-group>
                <ng-template #confirmPasswordSuffixTemplate>
                    <span
                      nz-icon
                      class="ant-input-password-icon cursor-pointer text-gray-500 hover:text-gray-700"
                      [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                      (click)="confirmPasswordVisible = !confirmPasswordVisible"
                    ></span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        
        <button nz-button class="w-full h-10 md:h-12 rounded-lg shadow-lg transform hover:scale-[1.02] transition-all duration-300 text-white font-medium text-sm md:text-base bg-gradient-to-r from-blue-600 to-indigo-500 hover:from-blue-700 hover:to-indigo-600 border-0" 
            [nzSize]="'large'" 
            [nzType]="'primary'"
            [nzLoading]="isLoading">
            Reset Password
        </button>
    </form>
</div> 