<nav class="bg-slate-50 border-b-1 border-gray-200 py-2.5 shadow sticky top-0 z-50">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
        <a routerLink="/super-admin" class="flex items-center">
            <img src="tsp-logo.png" class="h-6 mr-2 sm:h-8" alt="The Societies Portal">
            <p class="text-xl font-semibold text-gray-700">
                TSP
            </p>
            <span class="bg-green-100 text-green-800 text-[8px] font-medium mx-2 px-1.5 py-0.5 rounded-full">Admin</span>
        </a>
        <div class="flex items-center lg:order-2 relative">
            <button class="flex items-center p-2 text-sm text-gray-700 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" type="button" (click)="logout()" aria-label="Logout" nz-tooltip="Logout" nzTooltipPlacement="bottom">
                <span class="sr-only">Logout</span>
                <nz-icon nzType="logout" nzTheme="outline" class="text-lg" />
            </button>
        </div>
    </div>
</nav>
