<div class="flex justify-between items-center">
    <h1 class="text-xl font-extrabold text-gray-700 mt-2">
        <nz-icon nzType="home" class="mr-2" />Home
    </h1>
    <button nz-button nzType="default" nzShape="circle" (click)="openSearch()">
        <nz-icon nzType="search" />
    </button>
</div>

<nz-skeleton class="mt-4" [nzAvatar]="true" [nzLoading]="isLoading" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

<section *ngIf="!isLoading" class="mt-4 flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4 sm:gap-0">
    <div class="flex gap-3 items-center">
         <nz-avatar class="w-11 h-11 bg-blue-200 text-blue-700 rounded-full flex items-center justify-center" [nzSrc]="userInfo()!.profileImageId" [nzText]="userInfo()!.name.substring(0, 2).toUpperCase()" />
        <div>
            <h2 class="text-lg font-bold text-gray-700">Welcome, Dr. {{ userInfo()!.name }}!</h2>
            <p class="text-sm text-gray-600">Here's a quick overview of the system.</p>
        </div>
    </div>
    <div class="flex gap-2 justify-center sm:justify-end">
        <a routerLink="../societies" nz-button nz-popover nzType="primary" nzPopoverContent="See all societies you advise.">
            <nz-icon nzType="product" />Your Advised Societies
        </a>
    </div>
</section>

<nz-divider />

<div *ngIf="isLoading" class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-4">
    <nz-skeleton *ngFor="let i of [1, 2, 3, 4]" [nzActive]="true" [nzTitle]="true" [nzParagraph]="{ rows: 1 }" />
</div>

<div *ngIf="!isLoading" class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-4">
    <div class="flex items-center bg-white border rounded overflow-hidden shadow">
        <div class="p-4 bg-green-400">
            <nz-icon nzType="team" class="text-4xl w-12 h-12 flex items-center justify-center text-white" />
        </div>
        <div class="px-4 text-gray-700">
            <h3 class="text-sm tracking-wider">Total Members</h3>
            <p class="text-3xl">{{ homeStatistics?.totalMembers }}</p>
        </div>
    </div>
    <div class="flex items-center bg-white border rounded overflow-hidden shadow">
        <div class="p-4 bg-blue-400">
            <nz-icon nzType="product" class="text-4xl w-12 h-12 flex items-center justify-center text-white" />
        </div>
        <div class="px-4 text-gray-700">
            <h3 class="text-sm tracking-wider">Total Societies</h3>
            <p class="text-3xl">{{ homeStatistics?.totalSocieties }}</p>
        </div>
    </div>
    <div class="flex items-center bg-white border rounded overflow-hidden shadow">
        <div class="p-4 bg-indigo-400">
            <nz-icon nzType="project" class="text-4xl w-12 h-12 flex items-center justify-center text-white" />
        </div>
        <div class="px-4 text-gray-700">
            <h3 class="text-sm tracking-wider">Completed Events</h3>
            <p class="text-3xl">{{ homeStatistics?.totalCompletedEvents }}</p>
        </div>
    </div>
    <div class="flex items-center bg-white border rounded overflow-hidden shadow">
        <div class="p-4 bg-red-400">
            <nz-icon nzType="bars" class="text-4xl w-12 h-12 flex items-center justify-center text-white" />
        </div>
        <div class="px-4 text-gray-700">
            <h3 class="text-sm tracking-wider">Total Attendees</h3>
            <p class="text-3xl">N/A</p>
        </div>
    </div>
</div>

<nz-divider />

<div class="grid gap-5 grid-cols-1 lg:grid-cols-2">
    <div class="w-Full p-4 text-gray-700 shadow rounded-lg border-t-2 border-primary-light">
        <div class="flex justify-between items-center pb-4">
            <p class="flex items-center font-bold text-lg">
                <nz-icon nzType="project" class="mr-2" />
                Recent Events
            </p>
            <a class="text-primary-light text-xs" [routerLink]="'/admin-area/events'">View all</a>
        </div>

        <div class="grid gap-y-1.5">
            @for(event of recentEvents; track $index){
            <a [routerLink]="'/admin-area/events/' + event.id"
                class="flex flex-wrap sm:flex-nowrap border items-center rounded-md cursor-pointer shadow-sm hover:bg-slate-50">
                <div class="w-16 p-2 shrink-0">
                    <img [src]="event.logoId" class="w-12 h-12 sm:w-10 sm:h-10 rounded-md" alt="profile image">
                </div>
                <div class="p-2 w-full">
                    <div class="w-full flex items-center justify-between flex-wrap sm:flex-nowrap">
                        <span class="font-semibold text-sm">
                            {{ event.eventName }}
                        </span>
                        <div>
                            <nz-tag class="ml-1 text-[8px]" [nzColor]="event.isFinished ? 'success' : 'processing'">
                                <nz-icon [nzType]="event.isFinished ? 'check-circle' : 'clock-circle'" />
                                <span class="hidden sm:inline">{{ event.isFinished ? 'Finished' : 'Ongoing'
                                    }}</span>
                            </nz-tag>
                            @if(event.isAdvised){
                            <nz-tag class="text-[8px]" [nzColor]="'gold'">
                                <nz-icon [nzType]="'star'" />
                                <span class="hidden sm:inline">Society you advise</span>
                            </nz-tag>
                            }
                        </div>
                    </div>
                    <span class="text-gray-600 text-xs block truncate">{{ event.societyName }}</span>
                    <p class="text-gray-500 mt-2 text-[12px] flex flex-wrap sm:flex-nowrap items-center gap-1">
                        <span class="flex items-center">
                            <nz-icon nzType="calendar" class="mr-1"></nz-icon>
                            {{ event.startTime | date: 'MMM d, h:mm a'}}
                        </span>
                        <span class="hidden sm:inline">|</span>
                        <span class="flex items-center">
                            <nz-icon nzType="environment" class="mr-1"></nz-icon>
                            {{ event.locationString }}
                        </span>
                    </p>
                </div>
            </a>
            }@empty {
                <nz-empty [nzNotFoundContent]="'No recent events found.'"/>
            }

        </div>
    </div>


    <div class="w-Full p-4 text-gray-700 shadow rounded-lg border-t-2 border-primary-light">
        <div class="flex justify-between pb-4">
            <p class="flex items-center font-bold text-lg">
                <nz-icon nzType="usergroup-add" class="mr-2" />
                Recently joined members
            </p>
        </div>
        <div class="grid gap-y-1.5">
            @for(user of recentlyJoinedMembers; track $index){
            <a [routerLink]="'/admin-area/users/' + user.id"
                class="flex flex-wrap sm:flex-nowrap border items-center rounded-md cursor-pointer shadow-sm hover:bg-slate-50">
                <div class="w-16 p-2 shrink-0">
                    <!-- <img [src]="user.profileImageId" class="w-12 h-12" alt="profile image"> -->
                    <nz-avatar class="w-12 h-12 sm:w-10 sm:h-10 rounded-md flex items-center justify-center" [nzSrc]="user.profileImageId" [nzText]="user.firstName.substring(0, 2).toUpperCase()"></nz-avatar>
                </div>
                <div class="p-2 w-full sm:w-auto">
                    <p class="font-semibold text-sm truncate">{{ user.firstName }} {{ user.lastName }}</p>
                    <span class="text-gray-600 text-xs block truncate">{{ user.departmentName }}</span>
                    <p class="text-gray-500 mt-2  text-[12px] flex flex-wrap sm:flex-nowrap items-center gap-1">
                        <span class="flex items-center">
                            <nz-icon nzType="calendar" class="mr-1"></nz-icon>
                            Joined {{ user.societyName }} on {{ user.joinDate | date: 'MMM d, yyyy'}}
                        </span>
                    </p>
                </div>
            </a>
            }@empty {
                <nz-empty [nzNotFoundContent]="'No recently joined members found.'"/>
            }

        </div>
    </div>
</div>


<app-search-drawer [(visible)]="isSearchVisible" />