<!-- <nz-button-group class="mb-4 flex justify-end">
    <button nz-button nzType="default" (click)="exportToCsv()" nz-tooltip nzTooltipTitle="Export to CSV">
        <nz-icon nzType="download"></nz-icon>
        Export to CSV
    </button>
</nz-button-group> -->

<nz-table #requestsTable class="mt-5" [nzData]="eventsRequests" nzPaginationType="small" [nzPageSize]="5"
    [nzLoading]="false" nzBordered="true" [nzScroll]="{ x: '1000px' }" nzSize="small">
    <thead>
        <tr>
            <th nzWidth="40px"></th>
            @for (column of requestsTableColumns; track column) {
            @if(column.name == 'Name'){
            <th nzCustomFilter>
                Name
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            }@else {
            <th [nzShowSort]="!!column.sortFn" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections" [nzShowFilter]="!!column.listOfFilter.length"
                [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
            }
            }
        </tr>
    </thead>
    <tbody>
        @for(data of requestsTable.data; track data) {
        <tr>
            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
            <td>{{ data.eventName }}</td>
            <td>{{ data.eventSociety.societyName}}</td>
            <td>{{ data.startDateTime |date: 'medium' }}</td>
            <td>{{ data.locationString }}</td>
            <td>
                <nz-tag [nzColor]="getStatusColor(data.approvalStatus)">{{ data.approvalStatus }}</nz-tag>
            </td>
            <td>
                <button nz-button nzType="default" nzSize="small" nzShape="round" nz-tooltip
                    nzTooltipTitle="Event Details">
                    <a routerLink="./{{ data.id }}"><nz-icon nzType="eye" /></a>
                </button>
                <nz-divider nzType="vertical" />
                <button nz-button nzType="primary" nzGhost nzSize="small" nzShape="round" nz-tooltip
                    [nzTooltipTitle]="data.approvalStatus == 'Pending' ? 'Accept' : ''"
                    [disabled]="data.approvalStatus != 'Pending' || (data.isAdvisorDesignated && !data.isAdvisorInDeanOffice)" nz-popconfirm
                    nzPopconfirmTitle="Are you sure accept the request for: {{ data.eventName }}?"
                    nzPopconfirmPlacement="top" nzOkText="Yes" (nzOnConfirm)="confirmAcceptRequest(data)"
                    (nzOnCancel)="cancelAcceptRequest()">
                    <nz-icon nzType="check" />
                </button>
                <nz-divider nzType="vertical" />
                <button nz-button nzSize="small" nzShape="round" nzDanger [disabled]="data.approvalStatus != 'Pending' || (data.isAdvisorDesignated && !data.isAdvisorInDeanOffice)"
                    nz-tooltip [nzTooltipTitle]="data.approvalStatus == 'Pending' ? 'Reject' : ''"
                    (click)="openRejectPopup(data)">
                    <nz-icon nzType="close" />
                </button>
            </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
            <span>{{ data.eventDescription || 'No description' }}</span>
        </tr>
        }
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>


<!-- Add Member Popup -->
<nz-modal [(nzVisible)]="isRejectPopupVisible" nzTitle="Reject Event Request" nzCentered [nzClosable]="false"
    [nzMaskClosable]="false" nzOkText="Reject" (nzOnCancel)="handleCancelReject()" (nzOnOk)="handleOkReject()">
    <ng-container *nzModalContent>
        <nz-alert nzType="error" class="mb-6"
            [nzMessage]="'Request for (' + selectedEventRequestForDecision.eventName + '), Are you sure you want to reject this request?'"></nz-alert>

        <form nz-form [formGroup]="rejectForm">
            <nz-form-item class="flex items-start">
                <nz-form-label class="w-auto text-left">Reason (Remark)</nz-form-label>
                <nz-form-control [nzSpan]="12" class="w-auto">
                    <textarea nz-input formControlName="reason" rows="4">


                    </textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>