<!-- Hero Section -->
<app-event-hero [event]="eventDetails"></app-event-hero>

<!-- Sticky Info Bar -->
<app-sticky-info-bar [event]="eventDetails"></app-sticky-info-bar>

<!-- Event Info Bar -->
<app-event-info-bar [event]="eventDetails"></app-event-info-bar>

<!-- Main Content -->
<div class="relative pb-20">
    <div class="container mx-auto px-4 md:px-8">
        <!-- Content Cards -->
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 mt-8">
            <!-- Registration Form -->
            <div class="lg:col-span-8">
                <app-registration-form #registrationFormComponent
                    [eventId]="eventId"
                    [userDetails]="userDetails"
                    [isLoggedIn]="isLoggedIn"
                    [isLoading]="isLoading"
                    [isSubmitting]="isSubmitting"
                    [isRegisterSucceeded]="isRegisterSucceeded"
                    [registrationType]="registrationType"
                    [schoolMajorOptions]="nzOptions"
                    [isFaculty]="authService.isFacultyMember()"
                    (refreshUserDetailsEvent)="forceRefreshUserDetails()"
                    (selectRegistrationTypeEvent)="selectRegistrationType($event)"
                    (submitRegistrationEvent)="onSubmit()">
                </app-registration-form>
            </div>
            
            <!-- Event Details -->
            <div class="lg:col-span-4">
                <app-event-details [event]="eventDetails"></app-event-details>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-slate-100 py-9 border-t-2">
    <div class="container mx-auto px-4 md:px-8 text-center">
        <img src="tsp-logo.png" alt="Logo" class="w-16 mx-auto mb-6">
        <p class="text-sm text-gray-700">&copy; {{currentYear}} The Societies Portal.</p>
    </div>
</footer>