@if(society){
<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="info-circle" class="mr-2" />
        <div>
            <p>About</p>
        </div>
    </div>
</div>

@if(isSocietyLoading){
<nz-skeleton [nzAvatar]="true" [nzLoading]="isSocietyLoading" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
}@else {
<div class="mt-5">
    <div class="flex items-center gap-4 mt-3">
        <!-- <img class="w-14 h-14  rounded-full ring-1 ring-gray-200" src="slogo.jpg" alt="organizers" /> -->
        <nz-avatar class="w-11 h-11 rounded-full flex items-center justify-center"
            [nzSrc]="baseSocietyImage+society!.logoId" [nzText]="society!.name.substring(0, 2).toUpperCase()" />
        <div class="">
            <p class="text-sm font-bold text-gray-700 mt-2">{{ society!.name }}</p>
            <p class="text-[12px] text-gray-600">
                {{ society!.description }}
            </p>
        </div>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-4 mt-9">
        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="user" class="mr-1" />
                Advisor
            </p>

            <p class="text-sm font-semibold text-gray-700"><a
                    [routerLink]="['/',routeFirstSegment,'users',society!.advisor.id]"
                    [queryParams]="{ userType: 'FacultyMember' }">{{ society!.advisor.fullName }}</a></p>
        </div>

        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="calendar" class="mr-1" />
                Date Created
            </p>
            <p class="text-sm font-semibold text-gray-700">{{ society!.creationDate | date }}</p>
        </div>

        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="number" class="mr-1" />
                No of Members
            </p>
            <p class="text-sm font-semibold text-gray-700">{{ members().length + committee().length }}</p>
        </div>
    </div>
</div>
}


<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="setting" class="mr-2" />
        <div>
            <p class="flex items-center gap-1">
                Committee
                <span class="text-xs font-normal text-gray-500">
                    ({{ committee().length }} members)
                </span>
            </p>
        </div>
    </div>
    <div>
        @if(pageMode() === 'ADMIN_MANAGE'){
        <button nz-button nzType="primary" nzShape="circle" (click)="openAddCommitteePopup()">
            <nz-icon nzType="plus" nzTheme="outline" />
        </button>
        }
    </div>
</div>

<app-committee-table [committee]="committee()" [isViewOnly]="pageMode() != 'ADMIN_MANAGE'" [societyId]="societyId()"
    (committeeChange)="handleCommitteeChange($event)" />

<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="team" class="mr-2" />
        <div>
            <p class="flex items-center gap-1">
                Members
                <span class="text-xs font-normal text-gray-500">
                    (total: {{ members().length }} members)
                </span>
            </p>
        </div>
    </div>
    <div class="flex gap-2">
        @if(pageMode() === 'STUDENT_MANAGE' || pageMode() === 'ADMIN_MANAGE'){
        <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Export as CSV"
            (click)="downloadMembersAsCSV()">
            <nz-icon nzType="download" nzTheme="outline" />
        </button>
        <button nz-button nzType="primary" nzShape="circle" (click)="showSocietyRequests()" nz-tooltip
            nzTooltipTitle="Membership Requests">
            <nz-icon nzType="reconciliation" />
        </button>
        }
    </div>
</div>


<app-members-table [isLoading]="isMembersLoading" [pageMode]="pageMode()" [allMembers]="members()"
    [societyId]="societyId()" (membersChange)="members.set($event)" />


@if(pageMode() === 'ADMIN_MANAGE' || pageMode() === 'STUDENT_MANAGE'){
<!-- Add Committee Member Popup -->
<nz-modal [(nzVisible)]="isAddCommitteePopupVisible" nzTitle="Add Committee Member" nzCentered [nzClosable]="false"
    [nzMaskClosable]="false" [nzOkLoading]="isAddCommitteeLoading" nzOkText="Save"
    (nzOnCancel)="handleCancelAddCommittee()" (nzOnOk)="handleOkAddCommittee()">
    <ng-container *nzModalContent>
        <app-add-committee-member-form [existingCommitteeMembers]="committee()" [societyMembers]="members()" />
    </ng-container>
</nz-modal>
}
}

<app-membership-requests />