<div class="flex justify-between items-center">
    <h1 class="text-xl font-extrabold text-gray-700 mt-2">
        <nz-icon nzType="project" class="mr-2" />Events
    </h1>
</div>

<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="reconciliation" class="mr-2" />
        <div>
            <p>Events Requests</p>
            <p class="text-xs text-gray-400 font-normal">Requests from societies you advise are listed here</p>
        </div>
    </div>
    <button nz-button nzType="default" nz-dropdown [nzDropdownMenu]="exportMenu" nz-tooltip nzTooltipTitle="Export Options">
        <nz-icon nzType="download" nzTheme="outline" />
    </button>
    <nz-dropdown-menu #exportMenu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item (click)="exportToPdf()">
                <div class="flex items-center">
                    <span nz-icon nzType="file-pdf" nzTheme="outline" class="mr-2 text-red-500"></span>
                    <span>Export as PDF</span>
                </div>
            </li>
            <li nz-menu-item (click)="exportToCsv()">
                <div class="flex items-center">
                    <span nz-icon nzType="file-excel" nzTheme="outline" class="mr-2 text-green-500"></span>
                    <span>Export as CSV</span>
                </div>
            </li>
        </ul>
    </nz-dropdown-menu>
</div>

<app-requests-table />
