<nz-table #committeeTable nzSize="small" nzShowPagination="false" [nzData]="displayedCommittee" nzBordered="true" [nzScroll]="{ x: '500px' }" class="mt-4">
    <thead>
        <tr>
            <th nzWidth="70px"></th>
            <th>
                Student Name
            </th>
            <th>
                Position
            </th>
            <th>
                Start Date
            </th>
            @if(!isViewOnly()){
            <th>
                Actions
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @for(data of committeeTable.data; track data) {
        <tr>
            <td class="flex items-center justify-center">
                <nz-avatar class="w-7 h-7 bg-orange-200 text-orange-700 rounded-full flex items-center justify-center" [nzSrc]="data.profileImageId" [nzSrc]="data.profileImageId" [nzText]="data ? (data.firstName[0] + data.lastName[0]).toUpperCase() : ''" />
            </td>
            <td>
                <p class="text-xs">
                    {{ data.firstName }} {{ data.lastName }}
                </p>
            </td>
            <td>
                <p class="text-xs">
                    {{ data.position }}
                </p>
            </td>
            <td>
                <p class="text-xs">
                    {{ data.joinDate | date: 'mediumDate' }}
                </p>
            </td>
            @if(!isViewOnly()){
                <td>
                    <button nz-button nzType="primary" nzGhost nzSize="small" nzShape="round" (click)="openEditMemberPopup(data.id)">
                        <nz-icon nzType="edit" />
                    </button>
                    <nz-divider nzType="vertical" />
                    <button nz-button nzSize="small" nzShape="round" nzDanger nz-tooltip nz-popconfirm
                        [nzPopconfirmTitle]="'Are you sure you want to remove (' +  data.firstName + ' ' + data.lastName + ') from the committee?'"
                        nzPopconfirmPlacement="top" nzOkText="Yes" nzCancelText="No" (nzOnConfirm)="removeCommitteeMember(data.id)">
                        <nz-icon nzType="api" />
                    </button>
                </td>
            }
        </tr>
        }
    </tbody>
</nz-table>

<!-- Edit Committee Member Popup -->
<nz-modal [(nzVisible)]="isEditCommitteePopupVisible"
        nzTitle="Edit Committee Member" nzCentered [nzClosable]="false" [nzMaskClosable]="false"
        [nzOkLoading]="isEditCommitteePopupLoading" nzOkText="Save"
        (nzOnCancel)="handleCancelEditCommitteeMember()" (nzOnOk)="handleOkEditCommitteeMember()"
    >
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="editCommitteeMemberForm!" class="grid grid-cols-1 gap-y-4">
            <!-- Member Info -->
            <div class="flex items-center gap-4 p-4 bg-gray-50 rounded-lg">
                <nz-avatar [nzSize]="48" [nzSrc]="memberToEdit?.profileImageId" 
                          [nzText]="memberToEdit ? (memberToEdit.firstName[0] + memberToEdit.lastName[0]).toUpperCase() : ''">
                </nz-avatar>
                <div>
                    <h3 class="text-lg font-semibold text-gray-800">
                        {{ memberToEdit?.firstName }} {{ memberToEdit?.lastName }}
                    </h3>
                    <p class="text-sm text-gray-500">
                        Committee member since {{ memberToEdit?.joinDate | date }}
                    </p>
                </div>
            </div>

            <!-- Name -->
            <nz-form-item class="hidden">
                <nz-form-control>
                    <input nz-input formControlName="name" />
                </nz-form-control>
            </nz-form-item>

            <!-- Position -->
            <nz-form-item class="flex items-start">
                <nz-form-label class="w-1/4 text-left" nzRequired>Position</nz-form-label>
                <nz-form-control [nzSpan]="12" class="w-3/4" nzHasFeedback [nzErrorTip]="positionErrorTpl">
                    <input nz-input formControlName="position" placeholder="Enter committee position" />
                    <ng-template #positionErrorTpl>
                        Please enter a valid position!
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- Start Date -->
            <nz-form-item class="hidden">
                <nz-form-control>
                    <nz-date-picker formControlName="startDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>