<nz-breadcrumb class="text-xs">
    <nz-breadcrumb-item>Admin Area</nz-breadcrumb-item>
    <nz-breadcrumb-item>Societies</nz-breadcrumb-item>
    <nz-breadcrumb-item>Manage</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="flex justify-between items-center">
    <h1 class="text-xl font-extrabold text-gray-700 mt-2">
        <nz-icon nzType="product" class="mr-2" />Manage Society
    </h1>
    <div class="flex gap-2">

    </div>
</div>

<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="info-circle" class="mr-2" />
        <div>
            <p>About</p>
        </div>
    </div>
    <div>
        <button nz-button nzType="default" nzShape="circle" (click)="openEditSocietyInfoPopup()">
            <nz-icon nzType="edit" nzTheme="outline" />
        </button>
    </div>
</div>

<div class="mt-5">
    <div class="flex items-center gap-4 mt-3">
        <img class="w-14 h-14  rounded-full ring-1 ring-gray-200" src="slogo.jpg" alt="organizers" />
        <div class="">
            <p class="text-sm font-bold text-gray-700 mt-2">ACM University of Jordan Student Chapter</p>
            <p class="text-[12px] text-gray-600">
                A Chapter of the Association for Computing Machinery, interested in
                computer science and programming, and the development of software. We organize Competitive Programming
                Contests, Programming Contests, and other events.
            </p>
        </div>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-4 mt-9">
        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="user" class="mr-1" />
                Advisor
            </p>
            <p class="text-sm font-semibold text-gray-700">Prof. Sami Sarhan</p>
        </div>

        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="calendar" class="mr-1" />
                Date Created
            </p>
            <p class="text-sm font-semibold text-gray-700">June 20, 2017</p>
        </div>

        <div class="grid gap-y-1.5">
            <p class="text-xs text-gray-500 flex items-center">
                <nz-icon nzType="number" class="mr-1" />
                No of Members
            </p>
            <p class="text-sm font-semibold text-gray-700">22</p>
        </div>
    </div>
</div>

<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="setting" class="mr-2" />
        <div>
            <p class="flex items-center gap-1">
                Committee
                <span class="text-xs font-normal text-gray-500">
                    (3 members)
                </span>
            </p>
        </div>
    </div>
    <div>
        <button nz-button nzType="default" nzShape="circle" (click)="openAddCommitteePopup()">
            <nz-icon nzType="plus" nzTheme="outline" />
        </button>
    </div>
</div>

<app-committee-table [committee]="committee" />

<nz-divider />

<div class="flex items-center justify-between">
    <div class="flex items-center justify-start text-lg font-semibold text-gray-700">
        <nz-icon nzType="team" class="mr-2" />
        <div>
            <p class="flex items-center gap-1">
                Members
                <span class="text-xs font-normal text-gray-500">
                    (total: 22)
                </span>
            </p>
        </div>
    </div>
    <div>
        <button nz-button nzType="default" nzShape="circle">
            <nz-icon nzType="download" nzTheme="outline" />
        </button>
    </div>
</div>

<app-members-table />


<!-- Edit Society Info Popup -->
<nz-modal [(nzVisible)]="isEditSocietyInfoPopupVisible"
        nzTitle="Edit Society Info" nzCentered [nzClosable]="false" [nzMaskClosable]="false"
        [nzOkLoading]="isEditSocietyInfoLoading" nzOkText="Save" [nzBodyStyle]="{ maxHeight: 'calc(100vh - 200px)', overflow: 'auto' }"
        (nzOnCancel)="handleCancelEditSociety()" (nzOnOk)="handleOkEditSociety()"
        >
    <ng-container *nzModalContent>
        <app-edit-society-info-form [society]="society"/>
    </ng-container>
</nz-modal>

<!-- Add Committee Member Popup -->
<nz-modal [(nzVisible)]="isAddCommitteePopupVisible"
        nzTitle="Add Committee Member" nzCentered [nzClosable]="false" [nzMaskClosable]="false"
        [nzOkLoading]="isEditSocietyInfoLoading" nzOkText="Save"
        (nzOnCancel)="handleCancelAddCommittee()" (nzOnOk)="handleOkAddCommittee()"
    >
    <ng-container *nzModalContent>
        <app-add-committee-member-form [existingCommitteeMembers]="committee"/>
    </ng-container>
</nz-modal>