<nz-drawer [nzClosable]="true" [nzVisible]="visible" [nzPlacement]="'bottom'"
  nzTitle="Search for members, societies, or events!" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <div>
      <!-- Input group: stack vertically on small screens, row on sm+ -->
      <nz-input-group nzCompact nzSearch nzSize="large" class="flex gap-2">
        <!-- Text input: full width on small screens, half width on sm+ -->
        <input type="text" [(ngModel)]="searchTerm" nz-input placeholder="e.g. acm" class="w-1/2" />
        <!-- Select: full width on small screens, fixed width on sm+ -->
        <nz-select nzSize="large" nzPlaceHolder="Search by" class="w-full sm:w-[130px]"
          [(ngModel)]="selectedSearchType">
          <nz-option [nzLabel]="'Societies'" [nzValue]="'1'"></nz-option>
          <nz-option [nzLabel]="'Members'" [nzValue]="'2'"></nz-option>
          <nz-option [nzLabel]="'Events'" [nzValue]="'3'"></nz-option>
        </nz-select>
        <!-- Button: full width on small screens, auto width on sm+ -->
        <button nz-button nzType="primary" nzSize="large" [nzLoading]="isSearchLoading()" nzSearch (click)="doSearch()"
          class="w-full sm:w-auto">
          Search
        </button>
      </nz-input-group>
    </div>

    <ng-container *ngIf="searchResults.length > 0;">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
        <div *ngFor="let item of searchResults" class="bg-white rounded shadow p-4">
          <div class="flex items-center space-x-4">

            <nz-avatar [nzSrc]="baseUrl+item.logoId" [nzText]="item.name.substr(0,2).toUpperCase()"></nz-avatar>

            <div>
              <h3 class="text-lg font-semibold">{{ item.name }}</h3>
              <p class="text-sm text-gray-600">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


  </ng-container>
</nz-drawer>