<a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
    <button nz-button nzType="text" nzShape="circle" class="relative">
        <i nz-icon nzType="bell" nzTheme="outline" class="text-xl"></i>
        @if(notificationCount() > 0){
            <span
                class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full px-1">
                {{ notificationCount() }}
            </span>
        }
        
    </button>
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="w-80 max-h-96 overflow-y-auto bg-white space-y-2 shadow-lg rounded-xl p-2">
        <div class="flex justify-between items-center mb-2 px-3">
            <span class="font-semibold text-gray-700">Notifications</span>
            <button nz-button nzType="link" (click)="markAllAsRead()" class="text-xs text-blue-600 hover:underline">
                Mark all as read
            </button>
        </div>
        <ng-container *ngIf="notifications().length > 0; else noNotifications">
            <div (click)="markAsRead(n)" *ngFor="let n of notifications()"
                class="flex items-start gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 cursor-pointer"
                [ngClass]="{ 'bg-gray-100': !n.isSeen }">
                <img *ngIf="n.imageId; else defaultIcon" [src]="n.imageId" alt="img"
                    class="w-10 h-10 object-cover rounded-full mt-1" />
                <ng-template #defaultIcon>
                    <i nz-icon nzType="notification" nzTheme="fill" class="text-xl text-gray-500 mt-1"></i>
                </ng-template>

                <div class="flex-1">
                    <div class="font-medium text-gray-800">{{ n.subject }}</div>
                    <div class="text-xs text-gray-600 line-clamp-2">{{ n.body }}</div>
                    <div class="text-xs text-gray-400 mt-1">
                        {{ n.createdAt | timeago }}
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noNotifications>
            <div class="text-center text-gray-500 p-4">No notifications</div>
        </ng-template>
    </div>
</nz-dropdown-menu>